<div class="admin-form">
    <h1 class="admin-from-title">
        Statistics
    </h1>
    <h4>
        Number of restaurants:
        {{model.restaurantsnumber.content.length}}
    </h4>
    <h4>
        Number of users:
        {{model.usersnumber.content.length}}
    </h4>
</div>